.elementor-582 .elementor-element.elementor-element-10fbad0d {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-item-overlay {
	mix-blend-mode: normal;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-primary-btn {
	display: inline-block;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-secondary-btn {
	display: inline-block;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title {
	display: block;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-description {
	display: block;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-content {
	margin: 0 auto;
	text-align: center;
	max-width: 810px;
	padding: 130px 50px 50px 50px;
}

@media (min-width: 1500px) {
    .elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-cv-inner {
	    vertical-align: top;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 1000px) {
	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-cv-inner {
		vertical-align: center;
	}
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title * {
	color: #ffffff;
	font-family: "Rubik", Sans-serif;
	font-size: 42px;
	font-weight: 700;
	line-height: 55px;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-description p {
	color: #ffffff;
	font-family: "Rubik", Sans-serif;
	font-size: 19px;
	font-weight: 300;
	line-height: 33px;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 30px 0px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #ffffff;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	padding: 15px 25px 15px 25px;
	margin: 10px 10px 10px 10px;
	border-style: none;
	border-radius: 10px 10px 10px 10px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn svg {
	fill: #000000;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	width: 18px;
	height: auto;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn:hover {
	background-color: #D10022;
	color: #FFFFFF;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn:hover svg {
	fill: #FFFFFF;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn i {
	font-size: 18px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #ffffff;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	padding: 15px 25px 15px 25px;
	margin: 0px 10px 0px 10px;
	border-style: none;
	border-radius: 10px 10px 10px 10px;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn svg {
	fill: #000000;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	width: 18px;
	height: auto;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn:hover {
	background-color: #D10022;
	color: #FFFFFF;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn:hover svg {
	fill: #FFFFFF;
}

.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn i {
	font-size: 18px;
}

.elementor-582 .elementor-element.elementor-element-27a4fb63 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 60px;
	--padding-bottom: 60px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-27a4fb63:not(.elementor-motion-effects-element-type-background) {
	background-image: url("https://bmwforce.ru/bg2.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-582 .elementor-element.elementor-element-27a4fb63,
.elementor-582 .elementor-element.elementor-element-27a4fb63::before {
	--border-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-4cb78881 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-23a814da {
	--display: flex;
	--gap: 10px 10px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-52087fde {
	text-align: center;
}

.elementor-582 .elementor-element.elementor-element-52087fde .elementor-heading-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.elementor-582 .elementor-element.elementor-element-16d07e25 {
	text-align: center;
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.elementor-582 .elementor-element.elementor-element-4cb42a44 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6a462964 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 50px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6a462964:not(.elementor-motion-effects-element-type-background) {
	background-color: #000000;
}

.elementor-582 .elementor-element.elementor-element-6a462964,
.elementor-582 .elementor-element.elementor-element-6a462964::before {
	--border-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-6c8209b8 {
	--display: flex;
	--justify-content: center;
	--gap: 20px 20px;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6e811afe .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .ekit-btn-wraper {
	text-align: left;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn {
	padding: 15px 15px 15px 15px;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: #000000;
	background-color: #FFFFFF;
	border-style: none;
	border-radius: 10px 10px 10px 10px;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn svg path {
	stroke: #000000;
	fill: #000000;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn:hover {
	color: #ffffff;
	background-color: #D10022;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn:hover svg path {
	stroke: #ffffff;
	fill: #ffffff;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>i {
	font-size: 18px;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>svg {
	max-width: 18px;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>i,
.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>svg {
	margin-left: 8px;
}

.rtl .elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>i,
.rtl .elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn>svg {
	margin-left: 0;
	margin-right: 8px;
}

.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn i,
.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn svg {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}

.elementor-582 .elementor-element.elementor-element-41e0b42d {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-15117601 {
	text-align: right;
}

.elementor-582 .elementor-element.elementor-element-15117601>.elementor-widget-container {
	margin: 0px -75px 0px 0px;
}

.elementor-582 .elementor-element.elementor-element-74e2a1ce {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--margin-top: 50px;
	--margin-bottom: 50px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-7b2a1006 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 60px;
	--padding-bottom: 60px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6592c32 {
	--display: flex;
	--gap: 10px 10px;
	--background-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-7dbf691f {
	text-align: center;
}

.elementor-582 .elementor-element.elementor-element-7dbf691f .elementor-heading-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.elementor-582 .elementor-element.elementor-element-9171281 {
	text-align: center;
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.elementor-582 .elementor-element.elementor-element-604a6ebf {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--gap: 0px 0px;
	--background-transition: 0.3s;
	--margin-top: 35px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-3066b6ae {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-wrapper {
	text-align: left;
}

.elementor-582 .elementor-element.elementor-element-3414f1be.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-582 .elementor-element.elementor-element-3414f1be.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-582 .elementor-element.elementor-element-3414f1be.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-description {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.elementor-582 .elementor-element.elementor-element-405f44b6 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-wrapper {
	text-align: left;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-description {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.elementor-582 .elementor-element.elementor-element-65195d92 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-wrapper {
	text-align: left;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-description {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.elementor-582 .elementor-element.elementor-element-164bce0e {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-wrapper {
	text-align: left;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-description {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}

.elementor-582 .elementor-element.elementor-element-20dc2ef8 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--margin-top: 90px;
	--margin-bottom: 90px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-262e4515 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-28a7ad4c {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-63d9ac49 img {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

.elementor-582 .elementor-element.elementor-element-12e782e1 .elementor-counter-number-wrapper {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 31px;
	font-weight: 500;
	line-height: 55px;
}

.elementor-582 .elementor-element.elementor-element-12e782e1 .elementor-counter-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-71962d27 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-548d0a06 img {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

.elementor-582 .elementor-element.elementor-element-14382c89 .elementor-counter-number-wrapper {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 31px;
	font-weight: 500;
	line-height: 55px;
}

.elementor-582 .elementor-element.elementor-element-14382c89 .elementor-counter-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-27b21408 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6492ace img {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

.elementor-582 .elementor-element.elementor-element-2ba8317a .elementor-counter-number-wrapper {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 31px;
	font-weight: 500;
	line-height: 55px;
}

.elementor-582 .elementor-element.elementor-element-2ba8317a .elementor-counter-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-22c09032 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-6d82b16d img {
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

.elementor-582 .elementor-element.elementor-element-12b1941 .elementor-counter-number-wrapper {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 31px;
	font-weight: 500;
	line-height: 55px;
}

.elementor-582 .elementor-element.elementor-element-12b1941 .elementor-counter-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
}

.elementor-582 .elementor-element.elementor-element-134d5b78 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--margin-top: 60px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 60px;
	--padding-bottom: 50px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-134d5b78:not(.elementor-motion-effects-element-type-background) {
	background-image: url("https://bmwforce.ru/bg4.png");
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-582 .elementor-element.elementor-element-134d5b78,
.elementor-582 .elementor-element.elementor-element-134d5b78::before {
	--border-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-9129c10 {
	--display: flex;
	--background-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-3210d189 {
	--display: flex;
	--gap: 10px 10px;
	--background-transition: 0.3s;
}

.elementor-582 .elementor-element.elementor-element-37b38b7e {
	text-align: center;
}

.elementor-582 .elementor-element.elementor-element-37b38b7e .elementor-heading-title {
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 30px;
	font-weight: 700;
}

.elementor-582 .elementor-element.elementor-element-388261a7 {
	text-align: center;
	color: #000000;
	font-family: "Rubik", Sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.elementor-582 .elementor-element.elementor-element-62c0cc32 {
	--display: flex;
	--background-transition: 0.3s;
	--margin-top: 15px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-582 .elementor-element.elementor-element-26cc7c37 .gallery-item .gallery-caption {
	display: none;
}

.elementor-582 .elementor-element.elementor-element-26cc7c37 .gallery-item img {
	border-style: none;
	border-radius: 15px 15px 15px 15px;
}

@media(max-width:1024px) {
	.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-primary-btn {
		display: inline-block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-secondary-btn {
		display: inline-block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title {
		display: block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-description {
		display: none;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-content {
		margin: 0 auto;
		padding: 107px 50px 50px 50px;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title * {
		font-size: 40px;
	}

	.elementor-582 .elementor-element.elementor-element-6a462964 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-6c8209b8 {
		--gap: 0px 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 20px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-6e811afe .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-582 .elementor-element.elementor-element-41e0b42d {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-15117601>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 0px;
	}

	.elementor-582 .elementor-element.elementor-element-74e2a1ce {
		--margin-top: 30px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-7b2a1006 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-604a6ebf {
		--margin-top: 15px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-582 .elementor-element.elementor-element-20dc2ef8 {
		--margin-top: 60px;
		--margin-bottom: 60px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-63d9ac49 img {
		width: 50%;
	}

	.elementor-582 .elementor-element.elementor-element-548d0a06 img {
		width: 50%;
	}

	.elementor-582 .elementor-element.elementor-element-6492ace img {
		width: 50%;
	}

	.elementor-582 .elementor-element.elementor-element-6d82b16d img {
		width: 50%;
	}

	.elementor-582 .elementor-element.elementor-element-134d5b78 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
}

@media(max-width:767px) {
	.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-primary-btn {
		display: inline-block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .elementor-repeater-item-69713dc .wpr-slider-secondary-btn {
		display: inline-block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title {
		display: block;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-description {
		display: none;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-content {
		margin: 0 auto;
		padding: 10px 20px 20px 20px;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-sub-title * {
		font-size: 25px;
		line-height: 35px;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-primary-btn {
		font-size: 14px;
		padding: 10px 10px 10px 10px;
	}

	.elementor-582 .elementor-element.elementor-element-3a1fb54 .wpr-slider-secondary-btn {
		font-size: 14px;
		padding: 10px 10px 10px 10px;
	}

	.elementor-582 .elementor-element.elementor-element-52087fde .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-582 .elementor-element.elementor-element-16d07e25>.elementor-widget-container {
		padding: 0px 10px 0px 10px;
	}

	.elementor-582 .elementor-element.elementor-element-6a462964 {
		--margin-top: 0px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-6c8209b8 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-6e811afe {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-6e811afe .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-582 .elementor-element.elementor-element-6e811afe>.elementor-widget-container {
		padding: 30px 10px 10px 10px;
	}

	.elementor-582 .elementor-element.elementor-element-4535e170 .ekit-btn-wraper {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-4535e170 .elementskit-btn {
		padding: 13px 15px 13px 15px;
	}

	.elementor-582 .elementor-element.elementor-element-4535e170>.elementor-widget-container {
		padding: 0px 0px 10px 0px;
	}

	.elementor-582 .elementor-element.elementor-element-15117601>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 10px;
	}

	.elementor-582 .elementor-element.elementor-element-74e2a1ce {
		--margin-top: 30px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-7b2a1006 {
		--padding-top: 20px;
		--padding-bottom: 20px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-7dbf691f .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-582 .elementor-element.elementor-element-604a6ebf {
		--gap: 0px 0px;
	}

	.elementor-582 .elementor-element.elementor-element-3066b6ae {
		--margin-top: 0px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-wrapper {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-3414f1be .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-582 .elementor-element.elementor-element-405f44b6 {
		--margin-top: 0px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-wrapper {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-38a9e36d .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-582 .elementor-element.elementor-element-65195d92 {
		--margin-top: 0px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-wrapper {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-78e8aee7 .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-wrapper {
		text-align: center;
	}

	.elementor-582 .elementor-element.elementor-element-31b3c6cb .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-582 .elementor-element.elementor-element-20dc2ef8 {
		--margin-top: 50px;
		--margin-bottom: 40px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-63d9ac49 img {
		width: 28%;
		height: 125px;
	}

	.elementor-582 .elementor-element.elementor-element-12e782e1 .elementor-counter-title {
		font-size: 30px;
	}

	.elementor-582 .elementor-element.elementor-element-548d0a06 img {
		width: 28%;
		height: 125px;
	}

	.elementor-582 .elementor-element.elementor-element-6492ace img {
		width: 28%;
		height: 125px;
	}

	.elementor-582 .elementor-element.elementor-element-6d82b16d img {
		width: 28%;
		height: 125px;
	}

	.elementor-582 .elementor-element.elementor-element-134d5b78 {
		--margin-top: 30px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-582 .elementor-element.elementor-element-37b38b7e .elementor-heading-title {
		font-size: 25px;
		line-height: 30px;
	}

	.elementor-582 .elementor-element.elementor-element-62c0cc32 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
}