/*================== Car Repair Header CSS Start ================*/
.wpe-car-header-hamburger .elementskit-menu-hamburger {
  line-height: 18px !important;
}
.wpe-car-header-main-container .elementskit-menu-overlay {
  background-color: unset !important;
}
#menu-menu-left a.ekit-menu-nav-link {
  position: relative;
}
#menu-menu-left a.ekit-menu-nav-link.active:before {
  content: " ";
  border-bottom: 3px solid #D10022;
  position: absolute;
  bottom: -12px;
  width: 60%;
  margin: 0 auto;
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#menu-menu-right a.ekit-menu-nav-link.active:before {
  content: " ";
  border-bottom: 3px solid #D10022;
  position: absolute;
  bottom: -12px;
  width: 60%;
  margin: 0 auto;
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* #menu-menu-left a.ekit-menu-nav-link:hover .ekit-menu-nav-link:before {
  content: " ";
  border-bottom: 3px solid #D10022;
  margin-bottom: -12px;
  width: 60%;
  margin: 0 auto;
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/*================== Car Repair Header CSS End ================*/


/*================== Car Repair Footer CSS Start ================*/

.wpe-car-footer-main-container {
  background-size: 100% 100% !important;
}
.wpe-car-footer-bottom-link a {
  color: #D10022;
  font: 600 16px/16px 'Rubik';
}
.wpe-car-footer-contact-link .ekit-wid-con .ekit-header-info, .wpe-car-footer-contact-link .ekit-wid-con .ekit-header-info a {
  display: block !important;
}
.wpe-car-footer-newsletter-container-text p {
  margin-bottom: 0px;
}
.wpe-car-footer-newsletter-container {
  padding-bottom: 20px;
}
.wpe-car-footer-newsletter input[type=email] {
  padding: 13px;
  border-radius: 10px;
  border: unset;
  width: 586px;
  font-weight: 600;
}
.wpe-car-footer-newsletter form p {
  position: relative;
}
.wpe-car-footer-newsletter .wpcf7 form .wpcf7-response-output {
  margin: 0px 0 0 0;
  padding: 2px 10px;
  border: 1px solid #FFF;
  color: #FFF;
}
#wpe-car-footer-box3 {
  position: relative;
}
#wpe-car-footer-box3 h4.elementor-heading-title:after {
  content: '';
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #D10022;
  top: 55px;
}

/*================== Car Repair Footer CSS End ================*/









