*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=================== Car Pepair Inner Pages CSS Start ================*/

/*======= About Us Page CSS Start =======*/

.wpe-car-about-breadcrumb .fbc-items {
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset 0px -3px 0px #D10022;
}
.wpe-car-about-breadcrumb .fbc-page .fbc-wrap .fbc-items li.active span {
  color: #000000;
  font: 700 18px/18px 'Rubik';
}
.wpe-car-about-breadcrumb .fbc-page .fbc-wrap .fbc-items li a {
  color: #000000;
  opacity: 0.6;
  font: 400 18px/18px 'Rubik';
}
.wpe-car-about-breadcrumb .fbc-items li .fbc-separator {
  color: #000000 !important;
}
.wpe-car-about-breadcrumb .fbc-items li span a svg {
  display: none;
}
.tab-content .tab-pane {
  padding: 30px 0px 20px 0px !important;
}
 .ekit-wid-con .ekit-header-info a {
  display: block;
}
 .ekit-wid-con .ekit-header-info a {
  display: block;
}
/* .wpe-car-about-page-team-section .ea-tm-content {
  background-color: #FFF;
  margin: 0 20px;
  margin-top: -60px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px 0px 15px 15px;
  padding: 20px;
}
.wpe-car-about-page-team-section .ea-tm-content {
  position: relative;
}
.wpe-car-about-page-team-section ul.ea-tm-social-links {
  position: absolute;
  top: 0;
  right: -4px;
}
.wpe-car-about-page-team-section .ea-tm-wrapper {
  overflow-x: clip;
}
.wpe-car-about-page-team-section .swiper-button-prev  {
  position: absolute;
  left: -45%;
  top: 78%;
}
.wpe-car-about-page-team-section .swiper-button-next  {
  position: absolute;
  left: -39%;
  top: 78%;
}
.wpe-car-about-page-team-section .swiper-button-prev:after, .wpe-car-about-page-team-section .swiper-rtl .swiper-button-next:after {
  display: none;
}
.wpe-car-about-page-team-section .swiper-button-next:after, .wpe-car-about-page-team-section .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.wpe-car-about-page-team-section .ea-tm-social-links {
  display: none;
}
.wpe-car-about-page-team-section .ea-tm-content .tm-icon-span::before {
  content: "\f1e0";
  font: 800 18px/27px "font awesome 5 free";
  position: absolute;
  color: #fff;
  right: 0px;
  top: -43px;
  background: #D10022;
  border-radius: 6px 6px 0 6px;
  cursor: pointer;
  padding: 8px 13px;
}
.wpe-car-about-page-team-section .ea-tm-social-links-wrap {
  position: absolute;
  right: 3%;
  transform: rotate(360deg);
  top: -190px;
}
.wpe-car-about-page-team-section .ea-tm-wrapper .ea-tm-social-links li {
  padding: 7px 0;
} */

/*======= About Us Page CSS End =======*/

/*======= 404 Page CSS Start =======*/

/*======= 404 Page CSS End =======*/

/*======= FAQ Page CSS Start =======*/

/*======= FAQ Page CSS End =======*/

/*======= Contact Page CSS Start =======*/

.wpe-car-contact-page-left-section .ekit-wid-con .ekit-header-info, .ekit-wid-con .ekit-header-info a {
  display: block;
}
.wpe-car-contact-page-main-container {
  box-shadow: 0px 3px 6px #00000029;
}
.wpe-car-contact-page-right-section form p label {
  display: grid;
  gap: 8px;
  color: #000000;
  font: 600 20px/26px 'Rubik';
}
.wpe-car-contact-page-right-section input[type="text"], .wpe-car-contact-page-right-section textarea, .wpe-car-contact-page-right-section input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #1212124D;
}
.wpe-car-contact-page-right-section .wpcf7-submit {
  font: 600 20px/26px 'Rubik';
  color: #fff !important;
  background-color: #000000 !important;
  border-radius: 8px !important;
  padding: 10px 30px;
  border: unset;
}
.wpe-car-contact-page-right-section .wpcf7-submit:hover {
  background-color: #D10022 !important;
}
.wpe-car-contact-page-right-section textarea {
  height: 125px;
}
.wpe-car-contact-page-right-section .wpcf7 form .wpcf7-response-output {
  margin: 0px;
  padding: 10px 12px;
  border: 1px solid #D10022;
  font: 500 18px/18px 'Rubik';
  border-radius: 5px;
}
.wpe-car-contact-page-right-section .wpcf7-spinner {
  display: none;
}

/*======= Contact Page CSS End =======*/

/*======= Our Blog Page CSS Start =======*/

/*======= Our Blog Page CSS End =======*/

/*======= Blog Left Sidebar Page CSS Start =======*/


/*======= Blog Left Sidebar Page CSS End =======*/

/*======= Single Blog Page CSS Start =======*/

/*======= Single Blog Page CSS End =======*/




/*=================== Car Pepair Inner Pages CSS End ================*/









/*====== Product Categories CSS Start =======*/
/*======= Product Categories CSS End ========*/


/*======= Wishlist Page CSS Start ========*/
/*======== Wishlist Page CSS End =========*/



/*======== Quickview CSS Strat ========*/
/*======= Quickview CSS End =======*/

/*======= Single Blog Page CSS Start ========*/
/* .single-post-nav .nav-links {
  display: inline-flex;
  gap: 21em;
}
.single-post-nav .nav-links a {
  color: #000;
}
.single-post-nav span.meta-nav {
  font-weight: bold;
}
.single-post-comment .comment-author.vcard img {
  border-radius: 50%;
  padding: 12px;
}
.single-post-comment .comment-list li {
  background: #ededed;
  padding: 20px;
  border-radius: 50px 0px;
  margin-bottom: 20px;
}
.comments-area {
  padding: 15px;
}
.content-box {
  background-color: #fff;
  transform: translateY(-6%);
}
.single-author-image {
  padding: 0px;
}
.single-author-image img {
  width: 18%;
  border-radius: 50%;
}
.single-page-metaimage {
  margin-left: 0px;
}
.single-post-content p {
  font: normal 16px/25px "Rubik", Sans-serif;
  color: #242424;
  word-spacing: 1px;
}
.meta-box-question {
  font: 600 30px/40px "Rubik", Sans-serif;
  color: #242424;
  padding: 10px 0px!important;
}
.single-page-title{
  font: 600 32px/50px "Rubik", Sans-serif;
  color: #242424;
  padding: 0px !important;
  margin-top: 30px;
}
.single-post-content {
  padding: 0px !important;
}
span.entry-date, span.entry-comments{
  font: normal 20px "Rubik", Sans-serif;
  color: #BFBFBF;
}
.single-page-metabox {
  align-items: center;
  padding: 20px 0px !important;
}
.single-author-image a{
  font: 600 24px/30px "Rubik", Sans-serif;
}
.single-post-nav {
  padding: 0px !important;
}
.single-post-social-media-section {
  padding: 0px !important;
}
.single-post-social-box li a{
  padding: 8px 12px;
  border: 0px solid #bcbcbc;
  border-radius: 0px;
  background: #D10022;
}
.single-post-social-box li {
  display: inline-block;
  padding: 10px 0px;
}
.single-post-social-box .cat-item a {
  font: 500 14px/18px "Rubik";
  color: #fff;
}
.single-post-comment {
  margin-top: 6em;
  width: 60%;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border-radius: 0px;
}
#comments input[type=text], #comments input[type=email], #comments textarea {
  width: 100%;
  padding: 8px 10px;
}
.form-submit input[type=submit] {
  font-family: Rubik,Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff !important;
  background-color: #D10022 !important;
  border-radius: 0px !important;
  border: 1px solid #D10022;
  padding: 10px 30px;
}
p.form-submit {
    padding-top: 30px;
}
.single-post #comments {
  width: 100%;
} */
/*======= Single Blog Page CSS End ========*/

/*-----Woocommerce css--------------------*/

/* ---------Contact Page--------------- */
/*-----------Single page-------------------*/


/* Testing site additional css start  */




/* Testing site additional css end  */

/*----------------- Product Star Rating--------------*/

/* ---------popular top brans------------ */



/*=========== Car Repair Product Slider Shortcode CSS Start ============*/


/*=========== Car Repair Product Slider Shortcode CSS End ============*/


/*=========== Car Repair Services Tab Section Shortcode CSS Start ============*/

.featured-services-sec {
  /* background-image: url(../images/services-bg.png);
  background-size: 100% 100%;
  padding: 60px 0; */
}
.tab-pane.fade.active.show .services-right-content .nav-link.active img{
  /* background-color: #D10022 !important; */
  /* filter: invert(100%); z
}
.featured-services-sec #pills-tabContent button.nav-link.active img {

  background-color: #D10022 !important;
}
.featured-services-sec .tab-pane.fade.active.show .services-right-content .nav-link.active {
  color: #FFF !important;
}
.wpe-car-fservices-section .e-con-inner {
  /* max-width: 100%; */
}
.services-right-content {
  position: relative;
}
.services-right-content button {
  border: unset;
  background: unset;
}
.services-right-content li:nth-child(1) button img {
  position: absolute;
  top: 52%;
  left: 28%;
  padding: 5px 5px;
  border-radius: 6px;
}
.services-right-content li:nth-child(2) button img {
  position: absolute;
  top: 45%;
  left: 6%;
  padding: 7px 4px;
  border-radius: 6px;
}
.services-right-content li:nth-child(3) button img {
  position: absolute;
  top: 18%;
  left: 14%;
  /* background: #FFF; */
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
}
.services-right-content li:nth-child(4) button img {
  position: absolute;
  top: 56%;
  right: 17%;
  /* background: #FFF; */
  padding: 5px 5px;
  border-radius: 6px;
}
.services-right-content li:nth-child(5) button img {
  position: absolute;
  top: 37%;
  left: 41%;
  /* background: #FFF; */
  padding: 5px 5px;
  border-radius: 6px;
}
.services-right-content li:nth-child(6) button img {
  position: absolute;
  top: 18%;
  left: 26%;
  /* background: #FFF; */
  padding: 7px 5px;
  border-radius: 6px;
}
.featured-services-sec .top-nav {
  gap: 20px;
}
#pills-tabContent button.nav-link:not(.active) img {
  filter: invert(1);
}
.featured-services-sec .nav-pills li button.nav-link:not(.active) img {
  /* filter: invert(1); */
}
.featured-services-sec .top-nav .nav-item .nav-link {
  /* background-color: #000; */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.featured-services-sec .top-nav .nav-item button img {
  margin-right: 4px;
}
.featured-services-sec .nav-item button img {
  padding: 6px;
  border-radius: 6px;
  width: 38px;
  /* height: 38px; */
}
.featured-services-sec .nav li:nth-child(2) img{
  height: 38px;
}

.featured-services-sec .top-nav .nav-link {
    color: #FFF;
    font: 600 19px/19px "Rubik", Sans-serif;
    padding: 8px 30px 8px 25px;
    border-radius: 25px 10px 25px 10px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-25deg);
}

.featured-services-sec .top-nav .nav-link .button-content {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-22deg);
    transform: skew(25deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-services-sec .services-text p {
  font: 400 16px/29px "Rubik", Sans-serif;
}
.featured-services-sec .service-btn a {
  width: max-content;
  background: #000000;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  color: #FFF;
  font: 400 16px/19px "Rubik", Sans-serif;
}
.featured-services-sec .service-btn a:hover {
  background-color: #D10022;
}
.featured-services-sec .service-btn {
  position: relative;
}
.featured-services-sec .service-btn a span svg {
  top: 3px;
  position: absolute;
  margin-left: 4px;
}
.featured-services-sec .service-button {
  margin-top: 30px;
}
.featured-services-sec .top-nav .nav-link {
  background-color: #000000 !important;
}
.featured-services-sec .nav-pills .nav-link.active, .featured-services-sec .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #D10022 !important;
}
.featured-services-sec .nav-pills .nav-link.active img {
  /* filter: grayscale(100%) !important;
  filter: brightness(0.25); */
}

/*=========== Car Repair Services Tab Section Shortcode CSS End ============*/

/*=========== Car Repair Services Cost Section Shortcode CSS Start ============*/

/*=========== Car Repair Services Cost Section Shortcode CSS End ============*/

/*=========== Car Repair Product Tab Section Shortcode CSS Start ============*/

/*=========== Car Repair Product Tab Section Shortcode CSS End ============*/


/*=========== Car Repair Home Car Listing CSS Start ============*/
 .nav-pills .show>.nav-link {
  border-bottom: 3px solid #D10022;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0px;
}


/*=========== Car Repair Home Car Listing CSS End ============*/





/*=========== Car Repair Shop Page CSS Start ============*/



/*=========== Car Repair Shop Page CSS End ============*/


/*====== Car Repair Single Product Page CSS Start =======*/

/*====== Car Repair Single Product Page CSS End =======*/


/*====== Car Repair Related Product CSS Start =======*/

/*====== Car Repair Related Product CSS End =======*/


/*======== Cart Repair Page CSS Start =========*/

/*======== Car Repair Cart page CSS End =========*/



/*======== Car Repair Checkout Page CSS Start =========*/


/*======== Car Repair Checkout Page CSS End =========*/



/*======== Car Repair Wishlist Page CSS Start =========*/


/*======== Car Repair Wishlist Page CSS End =========*/


/*======== Car Repair Single Service Page CSS Start =========*/

/*======== Car Repair Single Service Page CSS End =========*/



/*======== Car Repair Car Listing Single Page CSS Start =========*/


/*======== Car Repair Car Listing Single Page CSS End =========*/


/* ========= Car Repair Blog Category Single Page CSS Start ========= */

/* ========= Car Repair Blog Category Single Page CSS End ========= */



/*=================== Car Pepair Appointment Form CSS Start ================*/

/*=================== Car Pepair Appointment Form CSS End ================*/