/*===================== Car Repair Code Start =======================*/

@media screen and (min-width:1600px) and (max-width:1920px) {
  .wpe-car-header-main-container .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-footer-main-container .e-con-inner {
    max-width: 1300px !important;
  }
   .wpe-car-services-section .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-discount-section .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-work-section .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-why-counter-section .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-gallery-section .e-con-inner {
    max-width: 1300px !important;
  }
  .wpe-car-contact-page .e-con-inner {
    max-width: 1300px !important;
  }
}
@media screen and (min-width:1600px) and (max-width:1680px) {

}
@media screen and (min-width:1440px) and (max-width:1599px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  .wpe-car-footer-newsletter-container-text p {
    margin-bottom: 0px;
  }
  .wpe-car-footer-newsletter-container {
    padding-bottom: 8px;
  }
  /*---------------- Footer Responsive CSS End --------------*/

}
@media screen and (min-width:1366px) and (max-width:1439px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  .wpe-car-footer-newsletter-container-text p {
    margin-bottom: 0px;
  }
  .wpe-car-footer-newsletter-container {
    padding-bottom: 15px;
  }
  /*---------------- Footer Responsive CSS End --------------*/

}
@media screen and (min-width:1200px) and (max-width:1365px) {
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  .wpe-car-footer-newsletter-container-text p {
    margin-bottom: 0px;
  }
  /*---------------- Footer Responsive CSS End --------------*/
  .wpe-car-slider-section .wpr-slider-content {
    padding: 70px 50px 50px 50px !important;
  }

}
@media screen and (min-width:1025px) and (max-width:1199px) {
  #ekit-megamenu-menu-left .elementskit-navbar-nav > li > a {
    padding: 0px 10px 0px 10px !important;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-main-container {
    background-size: 100% 100% !important;
  }
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  .wpe-car-footer-newsletter-container-text p {
    font-size: 16px !important;
    margin-bottom: 0px;
  }
  .wpe-car-footer-box1 {
    width: 30% !important;
  }
  #wpe-car-footer-box3 {
    width: 25% !important;
  }
  /*---------------- Footer Responsive CSS End --------------*/
  .wpe-car-discount-section {
    padding: 0 20px;
  }
  .wpe-car-discount-section-car .elementor-widget-container {
    margin-right: 0px !important;
  }
  .wpe-car-work-section {
    padding: 0 20px;
  }
  .wpe-car-work-section .wpe-car-work-box1 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box2 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box3 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box4 .elementor-image-box-wrapper::after {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 15%;
  }
  .wpe-car-slider-section .wpr-slider-content {
    padding: 35px 50px 50px 50px !important;
  }
  .featured-services-sec .top-nav {
    gap: 14px;
  }
  .services-right-content {
    position: relative;
    align-items: center;
    display: flex;
  }
  .services-right-content li:nth-child(6) button img {
    position: absolute;
    top: 34%;
  }
  .services-right-content li:nth-child(3) button img {
    position: absolute;
    top: 33%;
  }

}
@media screen and (min-width:992px) and (max-width:1024px) {
  .elementskit-menu-container {
    box-shadow: 0 2px 6px #ccbabaf2 !important;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-main-container {
    background-image: none !important;
    background-color: #161616;
  }
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  /*---------------- Footer Responsive CSS End --------------*/
  .wpe-car-work-section .wpe-car-work-box1 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box2 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box3 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box4 .elementor-image-box-wrapper::after {
    position: absolute;
    height: 10px;
    border-top: 1px dashed #9F9F9F;
    border-bottom: 1px dashed #9F9F9F;
    content: '';
    width: 100%;
    top: 15%;
  }
  .wpe-car-footer-main-container {
    background-image: none !important;
    background-color: #161616 !important;
  }
  .featured-services-sec .top-nav {
    gap: 10px;
  }
  .wpe-car-slider-section .wpr-slider-content {
    padding: 70px 50px 50px 50px !important;
  }
  .services-right-content {
    position: relative;
    align-items: center;
    display: flex;
  }
  .services-right-content li:nth-child(6) button img {
    position: absolute;
    top: 34%;
  }
  .services-right-content li:nth-child(3) button img {
    position: absolute;
    top: 33%;
  }
  .wpe-car-why-counter-section .elementor-counter-title {
    overflow: hidden!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 1!important;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .elementskit-menu-container {
    box-shadow: 0 2px 6px #ccbabaf2 !important;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-main-container {
    background-image: none !important;
    background-color: #161616 !important;
  }
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  /*---------------- Footer Responsive CSS End --------------*/
  .wpe-car-slider-section .wpr-slider-item .wpr-slider-sub-title h2 {
    font-size: 32px !important;
  }
  .wpe-car-slider-section .wpr-slider-content .wpr-slider-primary-btn {
    padding: 12px 18px 12px 18px !important;
  }
  .wpe-car-slider-section .wpr-slider-content .wpr-slider-secondary-btn {
    padding: 12px 18px 12px 18px !important;
  }
  .wpe-car-work-section .wpe-car-work-box1 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box2 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box3 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box4 .elementor-image-box-wrapper::after {
    position: absolute;
    top: 10%;
    z-index: -1;
  }
  .wpe-car-slider-section .wpr-slider-content {
    padding: 35px 50px 50px 50px !important;
  }
  .wpe-car-why-counter-section .elementor-counter-title {
    overflow: hidden!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
    -webkit-line-clamp: 1!important;
  }

  .featured-services-sec .top-nav .nav-link {
    font: 600 16px/19px "Open Sans", Sans-serif;
    padding: 6px 6px 6px 6px;
  }
  .featured-services-sec .nav-item button img {
    padding: 6px;
    width: 33px;
    height: 33px;
  }
  .featured-services-sec .tab-content .tab-pane {
    padding: 0px 0px 20px 0px !important;
  }
  .services-right-content {
    position: relative;
    align-items: center;
    display: flex;
  }
  .services-right-content li:nth-child(6) button img {
    position: absolute;
    top: 34%;
  }
  .services-right-content li:nth-child(3) button img {
    position: absolute;
    top: 33%;
  }
  .wpe-car-why-counter-section .elementor-counter-title {
    font-size: 25px !important;
  }

}

@media screen and (min-width:320px) and (max-width:767px) {

  /*---------------- Header Responsive CSS Start --------------*/
  .elementskit-menu-container {
    box-shadow: 0 2px 6px #ccbabaf2 !important;
  }
  /*---------------- Header Responsive CSS End --------------*/

  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-main-container {
    background-image: none !important;
    background-color: #161616 !important;
  }
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  .wpe-car-footer-contact-link .ekit-wid-con .ekit-header-info, .wpe-car-footer-contact-link .ekit-wid-con .ekit-header-info a {
    text-align: center;
  }
  #wpe-car-footer-box3 h4.elementor-heading-title:after {
    left: 0;
    top: 45px !important;
    right: 0;
    margin: 0 auto;
  }
  .wpe-car-footer-newsletter input[type=email] {
    padding: 13px !important;
    border-radius: 10px;
    border: unset;
    width: 586px;
  }
  /*---------------- Footer Responsive CSS End --------------*/

  /*---------------- Slider Responsive CSS Start --------------*/
  /*---------------- Slider Responsive CSS End --------------*/

  /*---------------- About us Responsive CSS Start --------------*/
  .wpe-car-about-us-btn .ekit-btn-wraper a {
    display: block;
    width: 172px;
  }
  .wpe-car-about-us-btn {
    margin: 0 auto;
  }

  /*---------------- About us Responsive CSS End --------------*/

  /*---------------- Services Responsive CSS Start --------------*/
  .services-right-content .pro-img img {
    margin-top: 50px;
  }
  .featured-services-sec .tab-content .tab-pane {
    padding: 0px 0px 20px 0px !important;
  }
  .featured-services-sec .service-btn a {
    width: max-content;
    padding: 13px 35px 13px 15px;
  }
  /*---------------- Services Responsive CSS End --------------*/

  /*---------------- How Work Responsive CSS Start --------------*/

  .wpe-car-work-section .wpe-car-work-box1 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box2 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box3 .elementor-image-box-wrapper::after, .wpe-car-work-section .wpe-car-work-box4 .elementor-image-box-wrapper::after {
    display: none;
  }
  .wpe-car-work-section .wpe-car-work-box1 p.elementor-image-box-description, .wpe-car-work-section .wpe-car-work-box2 p.elementor-image-box-description, .wpe-car-work-section .wpe-car-work-box3 p.elementor-image-box-description, .wpe-car-work-section .wpe-car-work-box4 p.elementor-image-box-description {
    padding-right: 0px;
  }
  .wpe-car-work-section .wpe-car-work-box1 figure img, .wpe-car-work-section .wpe-car-work-box2 figure img, .wpe-car-work-section .wpe-car-work-box3 figure img, .wpe-car-work-section .wpe-car-work-box4 figure img {
    margin: 0 auto;
  }

  /*---------------- How Work Responsive CSS End --------------*/

  /*---------------- Pricing Plan Responsive CSS Start --------------*/

  /*---------------- Pricing Plan Responsive CSS End --------------*/

  /*---------------- Gallery Responsive CSS Start --------------*/

  /*---------------- Gallery Responsive CSS End --------------*/

  /*----------------Home Product Section Responsive CSS Start --------------*/
  /*----------------Home Product Section Responsive CSS End --------------*/

  /*----------------Home Car Sale Section Responsive CSS Start --------------*/
  /*----------------Home Car Sale Section Responsive CSS End --------------*/

  /*---------------- Testimonial Responsive CSS Start --------------*/
  /*---------------- Testimonial Responsive CSS End --------------*/

  /*---------------- Team Responsive CSS Start --------------*/
  /*---------------- Team Responsive CSS End --------------*/

  /*---------------- Blog Responsive CSS Start --------------*/
  /*---------------- Blog Responsive CSS End --------------*/
  /*======== About Page Responsive CSS Start =======*/
  /*======== About Page Responsive CSS End =======*/
  /*======== Single Blog Page Responsive CSS Start =======*/
  /*======== Single Blog Page Responsive CSS End =======*/

  /*======== Single Service Page Responsive CSS Start =======*/
  /*======== Single Service Page Responsive CSS End =======*/

  /*======== Single Car Listing Page Responsive CSS Start =======*/
  /*======== Single Car Listing Page Responsive CSS End =======*/

  /*======== Single Product Page Responsive CSS Start =======*/
  /*======== Single Product Page Responsive CSS End =======*/
}

@media screen and (min-width:576px) and (max-width:767px) {
  .wpe-car-work-section .wpe-car-work-box1 .elementor-image-box-wrapper figure:before {
    content: '01';
    position: absolute;
    right: 25px;
  }
  .wpe-car-work-section .wpe-car-work-box2 .elementor-image-box-wrapper figure:before {
    content: '02';
    position: absolute;
    right: 25px;
  }
  .wpe-car-work-section .wpe-car-work-box3 .elementor-image-box-wrapper figure:before {
    content: '03';
    position: absolute;
    right: 25px;
  }
  .wpe-car-work-section .wpe-car-work-box4 .elementor-image-box-wrapper figure:before {
    content: '04';
    position: absolute;
    right: 25px;
  }
  #gallery-1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,150px);
    margin: 0;
    gap: 6px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item {
    padding-bottom: 5px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item img {
    border-radius: 10px;
  }
  .wpe-car-counter-row>div.e-con-inner>div {
    flex-basis: 47%;
  }
  .wpe-car-counter-row>div img {
    width: 37% !important;
    height: 125px !important;
  }

}
@media screen and (min-width:425px) and (max-width:575px) {
  #gallery-1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,130px);
    margin: 0;
    gap: 6px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item {
    padding-bottom: 5px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item img {
    border-radius: 10px;
  }

}
@media screen and (min-width:375px) and (max-width:424px) {
  #gallery-1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,110px);
    margin: 0;
    gap: 6px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item {
    padding-bottom: 5px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item img {
    border-radius: 10px;
  }

}
@media screen and (min-width:320px) and (max-width:374px) {
  #gallery-1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,100px);
    margin: 0;
    gap: 6px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item {
    padding-bottom: 5px;
  }
  .wpe-car-gallery-section #gallery-1 .gallery-item img {
    border-radius: 10px;
  }

}




















/*===================== Car Repair Code End =======================*/











@media screen and (min-width:1024px) and (max-width:1365px) {
  html {
    overflow-x: hidden;
  }

}
@media screen and (min-width:992px) and (max-width:1023px) {
  html {
    overflow-x: hidden;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  html {
    overflow-x: hidden;
  }

}
@media screen and (min-width:320px) and (max-width:767px) {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  /*======== Slider Responsive CSS Start =======*/
  /*======== Slider Responsive CSS End =======*/

  /*======== Trending Products Responsive CSS Start =======*/
  /*======== Trending Products Responsive CSS End =======*/

  /*======== Single BLog Page Responsive CSS Start =======*/

  /*======== Single Product Page Responsive CSS Start =======*/
  /*======== Single Product Page Responsive CSS End =======*/

  /*======== Shop Page Responsive CSS Start =======*/
  /*======== Shop Page Responsive CSS End =======*/
}
@media screen and (max-width:576px){
  body{
    /* text-align: center; */
  }
}

@media screen and (min-width:992px) and (max-width:1024px)  {
  .elementskit-menu-container {
    box-shadow: 0 2px 6px #ccbabaf2 !important;
  }
  /*---------------- Footer Responsive CSS Start --------------*/
  .wpe-car-footer-main-container {
    background-image: none !important;
    background-color: #161616;
  }
  .wpe-car-footer-newsletter input[type=email] {
    width: 100% !important;
  }
  /*---------------- Footer Responsive CSS End --------------*/
}

@media screen and (min-width: 1600px){
  textarea{
    width: 100%;
  }
}

h4.padd1 {
    font-family: Rubik, Sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

p.padd2 {
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: 768px) {
    .mbgkl {
    display: flex;
  align-items: center;
  color: #FFF;
    width: 1400px;
    height: 265px;
}
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .services-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .service-image {

    margin-left: 75px;
    margin-top: 0;
    width: 600px;
    height: 265px;

  }

  .text-content {

    max-width: 50%;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .services-item, .services-right-content {
    width: 100%;
  }

  .service-image {
    width: 100%;
    margin: 20px auto 0;
    object-fit: contain; /* Сохраняет соотношение сторон на мобильных устройствах */
    align-self: flex-end; /* Выравнивание по правому краю */
  }

  .text-content {
    width: 100%;
  }
}


