:root {
    --margin-left3: auto;
    --margin-right4: auto;
}
.e-con>.e-con-inner {
	gap: var(--gap);
	width: 100%;
	max-width: var(--content-width);
	margin-left: var(--margin-left3);
	margin-right: var(--margin-right4);
	padding-inline-start: 0;
	padding-inline-end: 0;
	height: 100%
}

@media (max-width:1000px) {
    .mb3 {
    padding-top: 15px;

      color: #FFF;
      margin-left: var(--neg-margin-left3);
      margin-right: var(--neg-margin-right4);
      background-color: #000000;
    }
}
    .mb3 {


      color: #FFF;
      margin-left: (--neg-margin-left3);
      margin-right: (--neg-margin-right4);
      background-color: #000000;
    }
.mb5 {
background-color: #FFF;
}
